{% extends 'base.html' %} {% block content %}

<div class="main-box">
    <h3 style="color:#516D6C; font-weight: bold;">Current Weather</h3>
    <form method="POST">{% csrf_token %}
        <input type="text" class="input" name="city" placeholder="Search for location" >
        <button type="submit" style="background: none; color: #465850;font-weight: bold; border: 1px solid #465850;; margin: 20px 0; cursor: pointer; padding: 10px;"> Search</button>
    </form>
    

    <div align="center">
        {% for weather in all_weather %}
        <div class="card">
            <div class="card-content">
                <div class="weather-box">

                    <a href="{% url 'details' weather.id %}">
                        <h5>{{ weather.name }} - {{ weather.sys.country }}</h5>
                    </a>
                    {% for c in weather.weather %}
                    <img src="http://openweathermap.org/img/w/{{ c.icon }}.png" width="60px" alt="Image">
                    <div style="text-align: center;">Weather conditions: {{ c.description }}</div>
                    {% endfor %}
                    <div>Temperature: {{ weather.main.temp }} <sup>o</sup>C</div>
                    <div>Wind Speed: {{ weather.wind.speed }} m/s</div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}