{% extends 'base.html' %}
{% block content %}

<h3 style="color:#606d51; font-weight: bold;">About the Trail</h3>
<hr />
<div><img class="trail-img" src="https://images.unsplash.com/photo-1609625743823-f4960243e496?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2433&q=80" width="100%"></div>
<hr />
<h5>Why We Hike</h5>
<div>
<p>“Walking is such a simple way to travel. It’s probably the slowest possible way to go through a place, and that means that you see it in a much deeper way.</p>
<p>It’s all connected—people, nature, culture. I grew up in the countryside and I’ve always felt most comfortable, most at home, when I’m in the outdoors doing something quite active. I enjoy the freedom of being outside and feeling connected to nature. But walking also has a sort of vulnerability and simplicity to it, which makes conversations and connections with people a little easier.</p>
</div>
{% endblock %}