body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.navbar-default .navbar-fnt {
  color: #ffffff;
}
.navbar-default .navbar-backgrnd {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


footer.page-footer {
  padding-top: 0;
  text-align: right;
}

a:link {
  text-decoration: none;
}
/* .card-link {
  color: rgba(94, 94, 80, 0.86);
  background-color:rgba(213, 214, 184, 0.86);
  border: none;
} */

/* .card-action {
  color: #ebc68e;
  background-color: white;
  border: none;
} */





