{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div class="row">
        <div class="col s6"> 
            <div class="card" style="background-color: #b8b0a3 ;">
                <div class="card-content">
                    <span class="card-title">{{ trail.name }}</span>
                        <p>Location: {{ trail.location }}</p>
                        <p>Country: {{ trail.country }}</p>
                        <p>Description: {{ trail.description }}</p>
                        <p>Length: {{ trail.length }}km</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'trails_update' trail.id %}" style="color: rgb(250, 245, 226);">Edit</a>
                    <a href="{% url 'trails_delete' trail.id %}" style="color: rgb(250, 245, 226);">Delete</a>
                </div>
            </div>
        </div>
        <div class="col s6" > 
                <div>
                    <img src="{% static '/images/forest121.jpg' %}" class="card" alt="image" width="100%" height="230px">
                    <div class="card-content" style="margin-top:-245px; color: #d89734; opacity: 90%; text-align:center;">
                        <div class="weather-box">
                            <p> Current weather </p>
                            <h5 >{{ city_weather.city }}</h5>
                            <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                            <div>Weather conditions: {{ city_weather.description }}</div>
                            <div>Temperature: {{ city_weather.temperature }} <sup>o</sup>C</div>
                            <div>Wind speed: {{ city_weather.speed}} m/s</div>
                        </div>  
                    </div>
                </div>
            </div>
        </div> 
    <hr />
    <div class="row" >
        <h5>{{ trail.name }}'s Activities</h5>
        <div class="col-4" style= " display:flex;  justify-content: space-evenly ">
            {% if trail.activities.count %} {% for activity in trail.activities.all %}
            <div class="card" style="width: 18rem;  background-color: #b8b0a3  ">
                <ul class="list-group list-group-flush" >
                <div class="card-content" >
                    <span class="card-title">
                        <span>{{ activity.name }}</span>
                    </span>
                </div>
            
            </ul> 
                <div class="card-action">
                    <form action="{% url 'unassoc_activity' trail.id activity.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="card-link" value="REMOVE">
                    </form>
                </div>
            </div>
            {% endfor %} {% else %}
            <h5>No activities :(</h5>
            {% endif %}
        </div>
    </div>
    </div>
    <!-- Available activities will come after this line -->

    <h5>Available activities</h5>
    <div class="col-4">
    <div class="row row-cols-1 row-cols-md-3 g-4" style= " display:flex;  justify-content: space-evenly">
        {% if activities.count %}
        {% for activity in activities.all %}
        <div class="card" style="width: 18rem; background-color: #b8b0a3 ">
            <!-- <ul class="list-group list-group-flush"> -->
            <div class="card-content">
                <span class="card-title">
                    <span>{{ activity.name }}</span>
                </span>
            </div>
        <!-- </ul>  -->
            <div class="card-action">
                <form action="{% url 'assoc_activity' trail.id activity.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="card-link" value="ADD">
                </form>
            </div>
        </div>
            {% endfor %}
            {% else %}
            <h5>{{trail.name}} Already Has All Activities Available</h5>
            {% endif %}
    </div>



    {% endblock %}